body { 
    font-family: "Montserrat"; 
}

a{
    text-decoration: none;
}
.productsBlock {
    max-width: 400px;
    padding-top: 70px;
    margin: 0 auto;
    font-size: 19px;
}
.cartBody{
    padding-top: 70px;
    margin: 0 auto;
    font-size: 18px;

}
input[type="submit"]{
    border-radius: 7px;
    border: solid 0.1px;
    padding: 6px 21px;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.productQuantity{
    width: -webkit-fill-available;
    margin: 0px 28px;
    border-radius: 6px;
    height: 21px;
    border: solid 0.1px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  appearance: auto;
}

.nav{ 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex; 
    justify-content: space-around; 
    padding: 10px; 
    background-color: #f0f0f0; 
}
.footer { 
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content: space-around; 
    padding: 10px; 
    background-color: #f0f0f0; 
}
button{
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 15px;
    border: solid 0.1px;
}
